.app__container {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), url('/fb-css-test/images/bg-pattern.png') repeat;
    display: flex;
    align-items: center;
}

.app__container::before{
    content: '';
    display: inline-block;
    min-height: 100vh;
    visibility: hidden;
}

.app__title {
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    color: #ffffff;
}

.app__product {
    display: flex;
    justify-content: center;
}